<div class="row pt-3 pb-5 mb-2 px-5 content">
  <div class="col-md-12 text-center mb-3 mt-2">
    <h4>Datos del cliente</h4>
  </div>
  <form class="col-md-12 needs-validation" novalidate>
    <div class="form-group row">
      <div class="col-md-6">
        <label><b>Nombre:</b></label>
        <input type="text" [ngClass]="{'is-invalid': nombre_valido}" class="form-control" name="nombre" [(ngModel)]="cliente.nombre">
        <small class="form-text invalid-feedback">*Este es un dato obligatorio.</small>
      </div>
      <div class="col-md-6">
        <label><b>Apellido:</b></label>
        <input type="text" class="form-control" name="apellido" [(ngModel)]="cliente.apellido">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-6">
        <label><b>Telefono:</b></label>
        <input type="text" [ngClass]="{'is-invalid': telefono_valido}" class="form-control" name="telefono" [(ngModel)]="cliente.telefono">
        <small class="form-text invalid-feedback">*Este es un dato obligatorio.</small>
      </div>
      <div class="col-md-6">
        <label><b>Correo:</b></label>
        <input type="text" class="form-control" name="email" [(ngModel)]="cliente.email">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-4">
        <label><b>Edad:</b></label>
        <input type="text" class="form-control" name="edad" [(ngModel)]="cliente.edad">
      </div>
      <div class="col-md-4">
        <label><b>Sexo:</b></label>
        <select class="form-control" name="sexo" [(ngModel)]="cliente.sexo">
          <option *ngFor="let sexo of sexos" [ngValue]="sexo">{{sexo}}</option>
        </select>
      </div>
      <div class="col-md-4">
        <label><b>Estado:</b></label>
        <select [ngClass]="{'is-invalid': estado_valido}" class="form-control" name="estado" [(ngModel)]="cliente.estado">
          <option *ngFor="let estado of estados" [ngValue]="estado">{{estado}}</option>
        </select>
        <small class="form-text invalid-feedback">*Este es un dato obligatorio.</small>
      </div>
    </div>

    <button type="submit" class="btn btn-success btn-block mt-3" (click)="agregarCliente()">Agregar</button>

  </form>
</div>