<nav class="navbar navbar-expand-md navbar-dark bg-dark">

  <a class="navbar-brand text-white ml-md-3"><b>JMZlife & Many</b></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse my-sm-3 my-md-0" id="navbarNavAltMarkup">

    <div class="nav py-4 py-md-0 mx-5">

      <a class="btn btn-outline-success mr-md-1" [routerLink]="['/consultar']" routerLinkActive="active">Consultar</a>
      <a class="btn btn-outline-success mr-md-1" [routerLink]="['/ventas']" routerLinkActive="active">Ventas</a>
      <a class="btn btn-outline-success mr-md-1" [routerLink]="['/clientes']" routerLinkActive="active">Clientes</a>
      <a class="btn btn-outline-success mr-md-1" [routerLink]="['/productos']" routerLinkActive="active">Productos</a>
      <a class="btn btn-outline-success mr-md-1" [routerLink]="['/proveedores']" routerLinkActive="active">Proveedores</a>
    
    </div>

    <a class="navbar-brand text-white">Administrador</a>

  </div>

</nav>