
  <div class="container">
    <div class="row">
      <div class="col-md-12 p-3">
        <div class="row">
          <h2 class="text-success" style="margin-left: -30px; padding-bottom: 0px; margin-bottom:0px;"><b>Realizar
              consulta</b></h2>
        </div>
        <hr>
        <div class="col-md-12">
          <div class="row">
            <div class="offset-md-1 col-md-10 mt-2 mb-2 content">
              <div class="col-md-12 text-center">
                <h4>Elija un tipo de cliente</h4>
              </div>
              <div class="col-md-12 my-4">
                <div class="row">
                  <button class="btn btn-outline-success offset-md-2 col-md-3" [routerLink]="['/consultar/cliente-nuevo']"
                    routerLinkActive="active">Cliente Nuevo</button>

                  <button class="btn btn-outline-success offset-md-2 col-md-3" [routerLink]="['/consultar/cliente-existente']"
                    routerLinkActive="active">Cliente ya registrado</button>
                </div>
              </div>
            </div>
            <form class="col-md-12 needs-validation" novalidate>

              <router-outlet></router-outlet>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- <button class="btn btn-outline-danger btn-lg col-md-5" [routerLink]="[ '/inicio/agregar-venta' ]"
  routerLinkActive="active">
  Realizar una nueva consulta
</button>
<button class="btn btn-outline-danger btn-lg offset-md-2 col-md-5" [routerLink]="[ '/inicio/agregar-cliente' ]"
  routerLinkActive="active">
  Registrar un cliente nuevo
</button> -->